geopaparazzi.app/bin
geopaparazzi.app/gen
geopaparazzilibrary/bin
geopaparazzilibrary/gen
geopaparazzilibrarytests/bin
geopaparazzilibrarytests/gen

geopaparazzi.app/gen/eu/hydrologis/geopaparazzi/R.java

*.swp
R.java
*~
.directory

