<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.hydrologis.geopaparazzi"
    android:installLocation="auto"
    android:versionCode="60"
    android:versionName="3.9.9" >

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" >
    </uses-permission>

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" >
    </uses-feature>

    <!-- compatibility -->
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" >
    </uses-sdk>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" >
    </supports-screens>

    <application
        android:name="eu.hydrologis.geopaparazzi.GeopaparazziApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.NoTitleBar" >
        <activity
            android:name=".GeoPaparazziActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="maps.google.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="www.openstreetmap.org"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="gp.eu"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".maps.GpsDataPropertiesActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.GPSLOG_PROPERTIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".maps.GpsDataListActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.GPSLOG_DATALIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.markers.MarkersActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.util.SecretActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.LogAnalysisActivity" >
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.tantomapurls.TantoMapurlsActivity" >
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.tantomapurls.TantoMapurlsListActivity" >
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.maps.NotesPropertiesActivity" >
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.database.SqlViewActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.library.database.DatabaseListActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.LinesDataPropertiesActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.PolygonsDataPropertiesActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.PointsDataPropertiesActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.SpatialiteSourcesTreeListActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.LabelPropertiesActivity" >
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.maptools.FeaturePagerActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.EditableLayersListActivity" >
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.maptools.CopyToLayersListActivity" >
        </activity>
        <activity android:name=".maps.MapsActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.MAP_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.AboutActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.PreferencesActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.preferences.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.chart.ProfileChartActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.chart.VIEW_IN_CHART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".gpx.GpxImportActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.gpx.GPXIMPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps.MapTagsActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.TAGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".osm.OsmCategoryActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.OSMCATEGORYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".osm.OsmFormActivity" >
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.osm.OSMFORMACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".maps.BookmarksListActivity" >
        </activity>
        <activity android:name=".maps.NotesListActivity" >
        </activity>
        <activity android:name="eu.geopaparazzi.library.sketch.DrawingActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.sketch.DrawingActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".util.ExportActivity" >
        </activity>
        <activity android:name=".util.ImportActivity" >
        </activity>
        <!-- FROM LIBRARY -->
        <activity android:name="eu.geopaparazzi.mapsforge.mapsdirmanager.sourcesview.SourcesTreeListActivity" />
        <activity
            android:name="eu.geopaparazzi.library.camera.CameraActivity"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.camera.CameraActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.DirectoryBrowserActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.DirectoryBrowserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.geopaparazzi.library.util.activities.NoteActivity"
            android:configChanges="keyboardHidden|orientation" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.NoteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.InsertCoordActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.InsertCoordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.GeocodeActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.GeocodeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.forms.FormActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.forms.FormActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.forms.FragmentDetailActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.forms.FragmentDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.webproject.WebProjectsListActivity" >
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.webproject.WebProjectsListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="eu.geopaparazzi.library.sms.SmsReceiverPositionSender"
            android:enabled="true" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name="eu.geopaparazzi.library.gps.GpsService" >
        </service>
        <service android:name="eu.hydrologis.geopaparazzi.maps.MapsSupportService" >
        </service>
    </application>

</manifest>