<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.hydrologis.geopaparazzi"
    android:installLocation="auto"
    android:versionCode="72"
    android:versionName="4.4.0">

    <!-- permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission
        android:name="android.permission.ACCESS_MOCK_LOCATION"
        tools:ignore="MockLocation" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- compatibility -->
    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="eu.hydrologis.geopaparazzi.GeopaparazziApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:launchMode="singleTask"
        android:theme="@android:style/Theme.NoTitleBar"
        tools:replace="android:label">
        <activity
            android:name=".GeoPaparazziActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name">
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:priority="1">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher"
                android:label="@string/app_file_name"
                android:priority="1">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:mimeType="*/*" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.gpap"
                    android:scheme="file" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="maps.google.com"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="www.openstreetmap.org"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
            <intent-filter>
                <data
                    android:host="gp.eu"
                    android:scheme="http" />

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".maps.GpsDataPropertiesActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.GPSLOG_PROPERTIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps.GpsDataListActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.GPSLOG_DATALIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/eu.geopaparazzi.gpsdatalog_msg" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.google.android.apps.markers.MarkersActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.SEND" />

                <data android:mimeType="image/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.util.SecretActivity" />
        <activity android:name=".util.ProjectMetadataActivity" />
        <activity android:name="eu.geopaparazzi.library.util.activities.LogAnalysisActivity" />
        <activity
            android:name=".maps.mapsforge.ImportMapsforgeActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name="eu.hydrologis.geopaparazzi.tantomapurls.TantoMapurlsActivity" />
        <activity android:name="eu.hydrologis.geopaparazzi.tantomapurls.TantoMapurlsListActivity" />
        <activity android:name="eu.hydrologis.geopaparazzi.maps.NotesPropertiesActivity" />
        <activity android:name="eu.hydrologis.geopaparazzi.database.SqlViewActivity" />
        <activity android:name="eu.geopaparazzi.library.database.DatabaseListActivity" />
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.LinesDataPropertiesActivity" />
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.PolygonsDataPropertiesActivity" />
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.PointsDataPropertiesActivity" />
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.LabelPropertiesActivity" />
        <activity android:name="eu.hydrologis.geopaparazzi.maptools.FeaturePagerActivity" />
        <activity android:name="eu.geopaparazzi.spatialite.database.spatial.activities.EditableLayersListActivity" />
        <activity android:name="eu.hydrologis.geopaparazzi.maptools.CopyToLayersListActivity" />
        <activity android:name=".maps.MapsActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.MAP_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.AboutActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.AboutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".preferences.PreferencesActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.preferences.PREFERENCES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.hydrologis.geopaparazzi.chart.ProfileChartActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.chart.VIEW_IN_CHART" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".gpx.GpxImportActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.gpx.GPXIMPORT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".maps.MapTagsActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.TAGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".osm.OsmCategoryActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.maps.OSMCATEGORYACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".osm.OsmFormActivity">
            <intent-filter>
                <action android:name="eu.hydrologis.geopaparazzi.osm.OSMFORMACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".maps.BookmarksListActivity" />
        <activity android:name=".maps.NotesListActivity" />
        <activity
            android:name=".util.ExportActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
                <data
                    android:host="*"
                    android:pathPattern=".*\\.gpap"
                    android:scheme="file" />
            </intent-filter>
        </activity>
        <activity android:name=".util.ImportActivity" />
        <!-- FROM LIBRARY -->
        <activity android:name="eu.geopaparazzi.mapsforge.mapsdirmanager.sourcesview.SourcesTreeListActivity" />
        <activity
            android:name="eu.geopaparazzi.library.camera.CameraActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.camera.CameraActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.DirectoryBrowserActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.DirectoryBrowserActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.geopaparazzi.library.util.activities.NoteActivity"
            android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.NoteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.InsertCoordActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.InsertCoordActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.util.activities.GeocodeActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.util.activities.GeocodeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.forms.FormActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.forms.FormActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.forms.FragmentDetailActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.forms.FragmentDetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="eu.geopaparazzi.library.webproject.WebProjectsListActivity">
            <intent-filter>
                <action android:name="eu.geopaparazzi.library.webproject.WebProjectsListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name="eu.geopaparazzi.library.sms.SmsReceiverPositionSender"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service android:name="eu.geopaparazzi.library.gps.GpsService" />
        <service android:name="eu.hydrologis.geopaparazzi.maps.MapsSupportService" />
    </application>

</manifest>