<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.geopaparazzi.plugins.pdfexport">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <service android:name="eu.geopaparazzi.plugins.pdfexport.ProjectPdfExportsMenuProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="eu.geopaparazzi.core.extension.ep.exporter.MENU_PROVIDER" />
                <category android:name="androidsrc.intent.category.MENU_PROVIDER" />
            </intent-filter>
        </service>


        <activity
            android:name=".PdfExportNotesListActivity"
            android:label="@string/notes_list_label"
            android:parentActivityName="eu.geopaparazzi.core.ui.activities.ExportActivity"
            android:theme="@style/GeopapTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="eu.geopaparazzi.core.ui.activities.ExportActivity" />
        </activity>

    </application>


</manifest>
